:root {
  --color-primary: #DDE9DD;
  --color-secondary: #35443F;
  --color-black: #dde9dd;
  --color-black-dark: #0D0D0D;
  --color-black-light: #999999;
  --color-white: #ffffff;
  --color-white-light: #f5f4f0;
  --primary-font: "Lora", serif;
  --secondary-font: "Roboto", serif;
  scroll-behavior: smooth;
  --button-color-secondary:#E6B846;
  --normal-secondary-color:#a4b6ba;
  --new-secondary-color:#1c2d37;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem;
  font-family: var(--secondary-font);
}
/* start of nav section */
.nav-items{
  margin-top: 2rem;
  margin-left: 1rem;
  display:flex;
  align-items: center;
  gap: 30rem;
  text-decoration: none;
  font-size: 1.3rem;
}
.title-hero{
  font-family: var(--secondary-font);
  align-items: center;
}
.icon{
  width: 2.5rem;
}
.icon-items{
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
  /* border: 2px solid red; */
}
.icon-items p{
  text-align: center;
  text-transform: capitalize;
}
.icon-items span{
  display: block;
  margin-top: 0.6rem;
}
.nav-links{
  display: flex;
  gap: 5rem;
}
.nav-links a {
  text-decoration: none;
  color: var(--color-black-dark);
  
}
.call-2-action{
  background-color: var(--color-black-dark);
  color: var(--color-white);
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 1.5rem;
  margin-left: 5rem;
  border: none;
}


.button-and-arrow{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  /* border: 2px solid palevioletred; */
}
.a-light fa-arrow-right{
  color: var(--color-white);
  font-size: 5rem;
}
@media screen and (max-width: 25em){
  .call-2-action{
    font-size: 0.5rem;
    padding: 0rem;
    border-radius: 2rem;
  }
  .arrow-right{
    display: none;
  }
 

}
 
@media screen and (max-width: 75.5625em) {
  .call-2-action{
    display: none;
  }
}
@media screen and (max-width: 63.625em) {
 .nav-items{
  gap: 15rem;
 }
 .nav-links{
  gap: 4rem;
 }
}
@media screen and (max-width: 48em) {
  .nav-items{
    gap: 10rem;
  }
  .nav-links{
   gap: 3rem;
  }
  
  }
@media screen and (max-width: 47.9375em) {
 .nav-links{
  display: none;
 }
 }
/* end of nav styling */

/* start of hero styling */
.hero-section{
  min-height: 100vh;
  /* border: 2px solid red; */
}

.top-section {
  margin-top: 5rem;
 display: flex;
 gap: 4rem;
 /* border: 2px solid red; */
}
 
.image-container{
  margin-left: 4rem;
  width: 130rem;
  min-height: 50rem;
  /* border: 2px solid red; */
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}
/* .left-container{
  border: 2px solid yellow;
} */
.title{
  text-transform: capitalize;
  font-size: 3.5rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
  color: var(--color-black-dark);
  font-family: var(--primary-font);
}
.title span{
  display: block;
  margin-top: 0.4rem;
  /* border: 2px solid red; */
}
.title-p{
  padding-top: 1.5rem;
  /* border: 2px solid red; */
  line-height: 3rem;
  font-size: 1.5rem;
  width: 80%;
  word-spacing: 0.5rem;
  color: var(--color-black-light);
}
#button{
  margin-left: 0;
  margin-top: 1.5rem;
  padding: 1.4rem;
}
.call-2-action i{
  padding-left: 0.5rem;
}

.hero-images-container{
  gap: 2rem;
  /* border: 2px solid red; */
  width: 30rem;
}

.bottom-container{
  display: flex;
  /* border: 2px solid red; */
}
.images-container{
  display: flex;
  margin-top: 6rem;
  gap: 1.5rem;
  border-radius: 2rem;
  /* border: 2px solid red; */
  position: relative;
  flex-wrap: wrap;
}
.images-container img{
  border-radius: 2rem;
  width: 18rem;
}
/* .image1{
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
} */
.arrow-right{
  position: absolute;
  color: var(--color-black-dark);
  font-size: 1.5rem;
  margin-left: 16rem;
 margin-top: -8rem;
 z-index: 60;
 background-color: var(--color-white);
 border-radius: 50px;
 padding: 0.8rem;

 
}
.arrow-right:hover{
  transition: all 1s;
  background-color: var(--button-color-secondary);
  color: var(--color-black-dark);
}
.call-2-action:hover{
  transition: all 1s;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
}
#arrow-left{
  margin-left: -1rem;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border: 0.005rem solid white;
}
#arrow-left:hover{
  transition: all 1s;
  background-color: var(--button-color-secondary);
  color: var(--color-black-dark);
}
@media screen and (max-width: 62.5em) {
  .top-section{
    gap: 2.5rem;
  }
  .image-container{
   object-fit: cover;
  }
   }
   @media screen and (max-width: 48em) {
    .top-section{
      gap: 1.2rem;
     }
     .title{
       font-size: 2.5rem;
     }
     .title-p{
       width: 100%;
     }
     .images-container{
       margin-top: 0rem;
     }
     #button{
       display:inline-flex;
      
     }
     }
    
     @media screen and (max-width: 25em) {
      .left-container{
        margin-top: -6rem;
        margin-left: 5rem;
        margin-bottom: 0;
      }
    
     .images-container{
      margin-left: 5rem;
      /* border: 2px solid violet; */
      margin-top: -12rem;
     }
   
     }

@media screen and (max-width: 47.6875em) {
      .top-section{
       /* border: 2px solid red; */
       display: block;
      
      }
      .left-text{
        /* border: 2px solid red; */
        width: 100%;
        margin-top: -40rem;
        margin-left: 4rem;
        padding: 2rem;
        font-size: 5rem;
        
      }
      .title{
        font-family: var(--secondary-font);
        font-size: 3rem;
        text-align: center;
        /* border: 2px solid red; */
      }
      .image-container{
        width: 75rem;
        margin-left: 0;
      }
      .image-container img{
        width: 100%;
        margin-left: 0;
      }

      .title{
        line-height: 3rem;
        font-size: 2.5xrem;
      }
     
      .image-container{
        width: 60rem;
        /* border: 2px solid green; */
        overflow: hidden;
        margin-left: 2rem;
      }
      .image-container img{
        width: 100%;
        object-fit: cover;
    
      }
       }
      
@media screen and (max-width: 47.625em) {
        .left-text{
          /* border: 3px solid yellow; */
          width: 40rem;
          margin-left: -12rem;
         
        }
        .left-text p{
          font-size: 0.9rem;
          padding: 0;
        }
        .left-text .title{
          font-size: 2.2rem;
        }
         .image-container{
          width: 100%;
         }
      

      
      }
   @media screen and (max-width: 48.3125em) {
    .title-p{
      display: none;
    }
    .images-container{
      display: flex;
      flex-direction: row;
    }
    .call-2-action{
      display: none;
    }
   }

@media screen and (max-width: 48em) {
 .left-container{
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  align-items: center;
  
 }
 .images-container{
  align-items: center;
 }
 
  }
  @media screen and (max-width: 38.75em) {
  
    .arrow-right{
      display: none;
    }
    .bottom-container{
      margin-top: -10rem;
      padding-top: 0;
      /* border: 2px solid darkblue; */
    }
    .images-container{
      width: 10rem;
      /* border: 2px solid darkblue; */
    }
    .call-2-action{
      display: none;
    }
   }
   @media screen and (max-width: 38.75em) {
   
    .left-container{
      margin-left: 8rem;
      margin-top: -10rem;
    }
   }
   @media screen and (max-width: 21.5625em) {
.left-text{
  /* border: 2px solid green; */
  padding: 0;
  margin-top: -35rem;
  width: 28rem;
  margin-left: 1.5rem;
}

.images-container{
  margin-left: 0rem;
}
.call-2-action{
  display: none;
}
   }

.bottom-hero{
  /* border: 2px solid red; */
  background-color: var(--color-primary);
  min-height: 25rem;
  margin-top: -10rem;
  min-width: 100%;
}
.bottom-hero{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-hero-items{
  display: flex;
  margin-top: 12rem;
  gap: 15rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}
.bottom-hero-items h3{
  font-size: 4rem;
  font-weight: 500;
}
.bottom-hero-items p{
  color: var(--color-black-dark);
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-right: 4rem;
  /* border: 2px solid red; */
}
@media screen and (max-width: 74.3125em) {
 .bottom-hero-items{
  gap: 8rem;
 }
 .bottom-hero p{
  padding-right: 2rem;
 }
 .bottom-hero h3{
  font-size: 3rem;
 }
 }
 @media screen and (max-width: 48em) {
  .bottom-hero-items{
  gap: 5rem;
  }
  }
  @media screen and (max-width: 47.6875em) {
    .images-container{
      margin-top: 8rem;
    }
    .bottom-hero-items{
      gap: 2rem;
    }
    .bottom-hero h3{
      margin-left: 1rem;
      font-size: 2rem;
    }
    .bottom-hero p{
      font-size: 0.9rem;
      text-align: justify;
      /* border: 2px solid red; */
      padding-right: -1rem;
      word-break: break-all;
      text-transform: capitalize;
    }
    .bottom-hero{
      width: 100%;
    }
  }
  @media screen and (max-width: 21.5625em) {
    .images-container{
      margin-top: 14rem;
      margin-left: -2rem;
    }
  }

/* end of hero section */
/* start of property section */
.property-section{
  min-height: 100vh;
  /* border: 2px solid red; */
  margin-top: 10rem;
  /* background-color:var(--normal-secondary-color); */
}
.feature-text-section{
  margin: 1.5rem;
  margin-left: 3rem;
    /* border: 2px solid papayawhip; */
}
.feature-listing-text{

  padding-top: 0rem;
  margin-bottom: 2rem;


}
.feature-listing-text{
 text-transform: capitalize;
}
.feature-text-section h3{
  text-transform: capitalize;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
.heading-subtext{
  font-size: 1.2rem;
  padding-top: 1rem;
}
.search{
  display: flex;
 align-items: center;
 margin-top: 5rem;
 margin-left: 30rem;
  width: 68rem;
  gap: 6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid rgb(6, 15, 9);
  text-transform: capitalize;
  border-radius: 1rem;
  font-size: 1.2rem;
  background-color: var(--color-white);
}
.search p span{
  color: var(--color-white);
  background-color: var(--new-secondary-color);
  padding: 2.5rem;
  border-radius: 1rem;
}
.search p span:hover{
  background-color:#35443F;
}
.location i{
  padding-right: 1rem;
}
.category i{
  padding-left: 1rem;
}

.btn-search{
  background-color: var(--new-secondary-color);
  color: var(--color-white);
  padding: 1.2rem;
  border-radius: 2rem;
}
.btn-search i{
 
  padding-right: 1.5rem;
}
.btn-search:hover{
  background-color: #35443F;
}
.button-cont{
  margin-left: 2rem;
}
@media screen and (max-width: 75em){
.search{
  margin-left: 2rem;
}
}
@media screen and (max-width: 43.75em){
.search{
  padding-top:0.9rem;
  padding-bottom:0.9rem;
  width: 60rem;
  gap:6rem;
  margin-left: 0;
}
.search p span{
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  

}
}
@media screen and (max-width: 37.5em){
.search{
  padding-top:0.1rem;
  padding-bottom:0.1rem;
  width: 45rem;
  gap:2rem;
  margin-left: 0;
  font-size: 1rem;
}
.search p span{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.btn-search{
  padding: 0.5rem;
}
}
@media screen and (max-width: 28.125em){
  .search{
    width: 30rem;
  }
.search p{
  display: none;
}
.btn-search{
 background: none;
 color: #0D0D0D;
 border: none;
 
}

}

.images-feature-sec{
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  

}
.feature-img-container{
  
  position: relative;
  width: 36rem;
  border: 1px solid rgb(27, 36, 27);
  border-radius: 2rem;
  padding-bottom: 0.5rem;
  /* border: 2px solid red; */
  
}
.feature-img-container:hover{
  transition: all 1.2s;
  background-color: #a2a8a6;
}
.feature-img-container img{
  border-radius: 2rem;
  object-fit: cover;
  width: 100%;
  height: 100%;

}
.caption-details{
  /* border: 2px solid red; */
  padding: 1rem;
  display: flex;
  gap: 3rem;
  font-size: 2rem;
}
.caption-details span{
  font-size: 1.5rem;
  font-family: var(--primary-font);
  padding-left: 1rem;
}

.further-details{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 2rem;
  padding-top: 2rem;
}
.left h4{
  width: 18rem;
  font-weight: 400;
  /* text-transform: capitalize; */
  font-size: 1.2rem;
  line-height: 2rem;
  /* border: 2px solid red; */
  
}
.left p{
  text-transform: capitalize;
  font-size: 1.3rem;
  padding-top: 0.7rem;
  padding-bottom: 1rem;
  font-weight: 900;
  color:#1c2d37;
}
.call-2-actio{
  padding: 1rem;
  width: 9.5rem;
  background:transparent;
  border: 1px solid black;
  color: var(--color-white);
  border-radius: 1rem;
}
#feature-btn{
  padding: 0.8rem;
  width: 8.5rem;
  background:var(--color-secondary);
  border: 1px solid black;
  color: var(--color-white);
}
#feature-btn:hover{
background-color: var(--color-primary);
color: var(--color-black-dark);
}
.border-hr{
  color: red;
  margin-top: 1rem;

}
/* end of property section */
/* statt of amenities-section styling */
.amenities-section{
  min-height: 100vh;
  margin-top: 10rem;
  /* border: 2px solid gold; */
  text-align: justify;
  background:var(--normal-secondary-color);
}
.amenities-section h3{
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
}
.amenities-container{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.ammenity{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 40rem;
  /* border: 2px solid gold; */
  padding: 3rem;
  text-align: center;
}
.amenity-image{
  width: 5rem;

}
.amenity-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .amenity-image img :hover{
  transition: ;
} */

/* end of amenities-section styling*/

/* start of contact form styling */
.c-sec{
  min-height: 80vh;
  margin-top: 6rem;
  /* border: 2px solid red;
  background-color: #1c2d37; */
}
.contact-section{

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.heading{
  text-transform: capitalize;
  /* border: 2px solid red; */
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
/* .form{
  max-width: 45rem;
  border: 2px solid red;
  min-height: 50rem;
 
}
.form label{
  display: block;
  margin-top:1rem;
  border: 2px solid red;
  padding-top: 4rem;
}
.form input{
  padding: 2rem;
}
.firstname{
  display: block;
} */

.form {
  width: 100%;
  max-width: 50rem;
  padding: 2rem;
  border-radius: 0.6rem;
 background-color: var(--normal-secondary-color);

}

.form label {
  display: block;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.7rem;
  /* border: 2px solid gold; */
}

.form input,
.form textarea {
  width: 100%;
  padding:  1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.9rem;
  font-size: 1rem;
}

.form textarea {
  resize: none;
}

.form button {
  width: 30%;
  padding: 1rem;
  background: #0d381d;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left:30rem;
  margin-top: 1rem;
}

.form button:hover {
  background: var(--new-secondary-color);
}
@media screen and (max-width: 38.75em) {
 .form{
  padding: 1rem;
 }
 .form label {
  margin-top: 0.5rem;
 }
 }


/* end of contact form styling */

/* footer stylings */
.footer {
  margin-top: 15rem;
}

.footer-container {

  color: var(--color-black-dark);
  background-color: var(--normal-secondary-color);
  padding: 4rem 4rem;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 62.5em) {
  .footer-container {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 50em) {
  .footer-container {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .form button{
    margin-left: 0;
  }
  .c-sec{
    min-height: 40vh;
  }
}

.footer-column {
  width: 20%;
}

@media screen and (max-width: 50em) {
  .footer-column {
    width: 100%;
  }
}
.footer-title {
  color: var(--color-black-dark);
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.footer-text {
  color: var(--color-black-dark);
  line-height: 1;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.footer-social-links {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}

.footer-social-link {
  --footer-social-link-size: 3rem;
  width: var(--footer-social-link-size);
  height: var(--footer-social-link-size);
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--color-black-dark);
  font-size: 2rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.footer-social-link:hover {
  transform: scale(1.2);
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-list-item a {
  text-decoration: none;
  color: var(--color-black-dark);
  text-transform: capitalize;
  font-family: var(--secondary-font);
}

.footer-contact {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-black-dark);
}

.footer-copyright {
  background-color: var(--color-primary);
  padding: 2rem 2rem;
  color: var(--color-black-dark);
  text-align: center;
}

.footer-copyright a {
  color: var(--color-black-dark);
}
/* end of footer */
